.container1{
    border:1px solid black;
    background-color: #293241;
    display: flexbox;
    height:80px;
    padding: 10px 15px;
    bottom: 15px; 
    font-family: "Brush Script MT", Lucida Handwriting;
    display: flex;
    justify-content: space-between;
    align-items: center;            
}
#div2{
    padding:40px 35px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.container2{
border:1px solid rgb(255, 255, 255);
border-top:25px solid #3d5a80;
height:150px;
width:250px;
margin:2px 2px;
background-color: #98c1d9;
border-radius: 15px;
padding:10px ;
padding-right: 20px;
margin-right: 10px;

}
.container2:hover{
 
}

.textBox{
    resize: none;
    width:450px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    outline-color: #ee6c4d;
    
}
body{
    padding:0px;
    margin:0px;
    background-color: #e0fbfc;
}
.button{
 border-radius:5px;
 padding:10px 20px;
 border: 1px solid black;
 background-color: #98c1d9;
}
.button:hover{
    background-color: #6492ac ;
    cursor:pointer;
}
#div1{
    font-family: 'Mynerve', cursive;
    color: #ee6c4d;
    text-align: left;
    font-size: 30px;
}
.notebox{
    display: flex;
    justify-content: center;
    align-items: center;
}